{% load static %}
<div class='footer'>
    <footer>
        <hr class="lga">
        <div class="container-fluid">
            <p>
                <a href="mailto:lgalarno@outlook.com">
                    &copy; 2023 Luc Galarneau
                </a>
                <a href="https://github.com/lgalarno">
                    <img src="{% static 'images/GitHub-Mark/PNG/GitHub-Mark-32px.png' %}" width="16" height="16" class="d-inline-block" alt="GitHub">
                </a>
            </p>
        </div>
    </footer>
</div>
