<div class="modal-dialog">
    <div class="modal-content">
        <form method="POST" action="{% url 'pod_node:create_resource' %}" id="formresource" name="formresource" >
            {% csrf_token %}
            <input type="hidden" name="source_url" value="{{ resource_url }}"/>
            <div class="modal-header">
                <h4>Create a resource</h4>
            </div>
            <div class="modal-body">
               <div class="form-group mb-0">
                    <div id="container-input" class="mb-3">
                        <input type="text" name="resource" maxlength="200" class="form-control" placeholder="Resource name" required id="resource">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
