{% if folder_data %}
    <h4>Directory</h4>

    <table class="table table-borderless table-responsive table-sm">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for f in folder_data.folders %}
            <tr >
                <td><a href="{{ f.view_url }}" title="{{ f.url }}">{{ f.name }}</a></td>
                <td></td>
                <td>
                    {% if not f.root %}
                        <a href="{{ f.del_url }}" title="delete" class="btn" onclick="return confirm('Are you sure?')">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for f in folder_data.files %}
            <tr>
                <td>
{#                    <a href="{{ f.preview_url }}" title="{{ f.url }}">{{ f.name }}</a>#}
                    <a href="{{ f.preview_url }}"
                       title="{{ f.url }}"
                       hx-get="{{ f.preview_url }}"
                       hx-target="#preview-htmx"
                       aria-label="{{ f.url }}"
                    >
                    {{ f.name }}</a>
                </td>
                <td>
                    <small>{{ f.size }}</small>
                </td>
                <td>
                    <a href="{{ f.del_url }}" title="delete" class="btn" onclick="return confirm('Are you sure?')">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                        <a href="{{ f.download_url }}" title="download" class="btn" >
                            <i class="bi bi-box-arrow-down"></i>
                        </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% else %}
    <p>No folder content to show...</p>
    <a href="javascript:history.back()"><< Back to previous page</a>
{% endif %}
