
{% if sessions %}
    <br>
    <p>or with one of your Web ID</p>
{#    <form method="POST" action="{% url 'connector:connect-webid' %}" name="form_session">#}
{#        {% csrf_token %}#}

         <div class="table-responsive">
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in sessions %}
                        <tr>
                            <td>
                                {{  s.webid  }}
                            </td>

                            <td>
                                <a title="delete" hx-confirm="Are you sure?"
                                    hx-get="{% url 'pod_registration:pod_registration-htmx-api:delete-pod' s.pk %}"
                                    hx-target="#webid-list">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                                 <input type="hidden" name="session_id" value="{{ s.pk }}">
                                <a href="{% url 'connector:connect-webid' s.pk %}" class="float-end" title="Connect">
                                    {% if not request.session.web_id == s.webid %}
                                        <i class="fa-solid fa-plug"></i>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


{#        <label for="session_id" class="form-label">Using your WebID</label>#}
{#        <div class="input-group">#}
{#            <select class="form-select"aria-label="Connect with one of your WebID" name="session_id">#}
{#                {% for s in sessions %}#}
{#                    <option value="{{ s.pk }}">{{ s.webid }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Connect</button>#}
{#        </div>#}
{#    </form>#}

{% else %}
    <p>You don't have any Web IDs</p>
{% endif %}
