DJANGO_SECRET_KEY=''

IN_DOCKER=0
DEBUG=1
# Comma-separated list of domains, e.g.
# 'example.com,example.net'. Must be set
# when DEBUG=1:
ALLOWED_HOSTS='127.0.0.1,localhost'

DATABASE_ENGINE='django.db.backends.mysql'
DATABASE_HOST=''
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_NAME=''
DATABASE_PORT='3306'

CLIENT_NAME = ""
CLIENT_CONTACT = ""

REDIS_URL='redis://localhost:6379/'

PORT_HTTP=8000
NODE_PORT=3030

CALLBACK_URI = "localhost"
NODE_API_URL='http://localhost:3030/api/'

MEDIA_ROOT='/app/data/media/'
STATIC_ROOT='/app/data/static/'
